.chat_display
  .top_content
    = link_to 'Edit', edit_group_path(@group), class: "edit_chat_group"
    %p.group_name
      = @group.name
    %ul.group_members
      %span Members :
      - @group.users.each do |user|
        %li.group_members__list
          = user.name
  .middle_content
    %ul.messages
      = render @messages
  .bottom_content
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'new_message__text', placeholder: 'type a message'
      .new_message__image_box
        = f.label :image, class: 'new_message__image_box__icon' do
          %i.fa.fa-picture-o
          = f.file_field :image, id: 'message_image'
      = f.submit class: 'new_message__btn', value: 'Send', data:{ disable_with: 'Send' }
