.chat_display
  .top_content
    = link_to 'Edit', '', class: "edit_chat_group"
    %p.group_name サンプル
    %ul.group_members
      %li.group_members__list
        %p Member : gunji
  .middle_content
    %ul.messages
      - @messages.each do |message|
        %li.message
          %p.message__name
            = message.user.name
          %p.message__date
            = message.created_at.strftime("%Y-%m-%d %H:%M:%S")
          %p.message__text
            = message.body
          .message__image
            = image_tag message.image_url(:thumb) if message.image_url.present?
  .bottom_content
    = form_for [@group, @message], class: 'message_form' do |f|
      = f.text_field :body, class: 'message_form__text', placeholder: 'type a message'
      .message_form__image_box
        = f.label :image, class: 'message_form__image_box__icon' do
          %i.fa.fa-picture-o
          = f.file_field :image, id: 'message_image'
      = f.submit class: 'message_form__btn', value: 'Send', data:{ disable_with: 'Send' }
